*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#d28c3c,rgb(224, 92, 36));
    display: flex;
}
.glass{
    background: white;
    min-height:80vh ;
    width: 80%;
    border-radius: 2rem;
    background: linear-gradient(135deg,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    box-shadow: 1px 2px 10px ;
    z-index: 1 ;
    backdrop-filter: blur(0.8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.circle1,.circle2{
    background: white;
    height: 8rem;
    width: 8rem;
    background: linear-gradient(135deg,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 50%;
    position:absolute;
    display: flex;
    flex-direction:column;
}
.circle1{
    top:5%;
    right:3%
}
.circle2{
    bottom: 5%;
    left: 3%;
}
.show{
    min-height: 1%;
    width: 103%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 15%; */
    /* justify-content: center; */
}
.ask{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    /* min-height: 20vh; */
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10) ;
    

    /* font-size: xx-large; */
    /* min-width: 20vh; */
    /* width: 5rem; */  
}
/* button{
    min-height: 6vh;
    width: 60%;
    border-radius: 1rem;
    color: #d28c3c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
} */
.btn{
    height: 100%;
    width: 80%;
    background: transparent;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.695);
    font-size:xx-large;
    font-weight:bold;
    font-family:cursive;
    border-radius: 2rem;
    align-items: end;
    bottom: 100%;
}

.content h1{
    display: flex;
    flex-direction: column;
    font-size:large;
    font-family: cursive;
    text-align: center;
}
.content2 h3{
    display: flex;
    flex-direction: column;
    font-size: small;
    font-family:cursive ;
    text-align:center ;
}